<div class="row border m-0 bg-light align-items-center">
  <!-- Pic -->
  <div class="col-1">
    <div class="d-flex justify-content-center align-items-center">
      <div class="position-relative story-circle">
        <img
          src="assets/img/download2.jpg"
          alt="..."
          class="img-fluid rounded-circle"
        />
      </div>
    </div>
  </div>
  <!-- Name -->
  <div class="col">
    <p class="mb-0 fs-5 fw-bold">the_unknow</p>
    <p class="mb-0 text-muted text-small">last seen <span>3 min ago</span></p>
  </div>
  <!-- Other action -->
  <div class="col-2">
    <div class="d-flex justify-content-evenly align-items-center">
      <span class="mx-2 fs-4"><fa-icon [icon]="faPhone"></fa-icon></span>
      <span class="mx-2 fs-4"><fa-icon [icon]="faVideo"></fa-icon></span>
      <span class="mx-2 fs-4"><fa-icon [icon]="faCircleInfo"></fa-icon></span>
    </div>
  </div>
</div>
