<div class="d-flex">
  <div class="sidebar position-relative">
    <div class="px-3 pt-3 pb-4">
      <div
        class="bg-white d-flex justify-content-center p-2 rounded bg-shadow"
        routerLink="/home"
        role="button"
      >
        <img
          height="50"
          width="50"
          src="assets/img/menestagram-logo-without-text.png"
          alt=""
        />
      </div>
      <ul
        class="list-unstyled px-2 mb-0 position-absolute top-50 start-50 translate-middle"
      >
        <li
          class="my-5 fs-3 position-relative"
          placement="right"
          ngbTooltip="Home"
        >
          <a
            class="li active text-decoration-none text-black-50"
            routerLink="/home"
            role="button"
          >
            <fa-icon [icon]="faHouseChimney"></fa-icon>
          </a>
        </li>
        <li
          class="my-5 fs-3"
          role="button"
          placement="right"
          ngbTooltip="Message"
        >
          <a
            class="li text-decoration-none text-black-50"
            routerLink="/"
            role="button"
          >
            <fa-icon [icon]="faPaperPlane"></fa-icon>
          </a>
        </li>
        <li
          class="li my-5 fs-3"
          role="button"
          placement="right"
          ngbTooltip="Search"
        >
          <a
            class="li text-decoration-none text-black-50"
            routerLink="/"
            role="button"
          >
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </a>
        </li>
        <li
          class="li my-5 fs-3"
          role="button"
          placement="right"
          ngbTooltip="Setting"
        >
          <a
            class="li text-decoration-none text-black-50"
            routerLink="/"
            role="button"
          >
            <fa-icon [icon]="faGear"></fa-icon>
          </a>
        </li>
        <li
          class="li my-5 fs-3"
          role="button"
          placement="right"
          ngbTooltip="My Profile"
        >
          <a class="li text-decoration-none" routerLink="/" role="button">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
        </li>
      </ul>
      <ul
        class="list-unstyled px-2 mb-0 position-absolute bottom-0 start-50 translate-middle"
      >
        <li
          class="li my-4 fs-3"
          role="button"
          placement="right"
          ngbTooltip="Log out"
        >
          <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid m-0 p-0">
    <router-outlet></router-outlet>
  </div>
</div>
