<div class="cotainer" style="margin-left: calc(70px + 1.5rem)">
  <div class="row pt-4 px-4 mx-4"></div>
  <div class="row p-4 mx-4">
    <!-- Left side -->
    <div class="col-3 my-2">
      <div class="row gy-2">
        <!-- search -->
        <div class="col-12">
          <div class="d-flex border" style="width: 409px">Search bar</div>
        </div>
        <!-- chat list -->
        <div class="col-12">
          <div class="border bg-white" style="height: 780px; overflow-y: auto">
            <app-chat-card
              *ngFor="let chat of chatUser"
              [img]="chat.pic"
              [time]="chat.lastTime.getMinutes()"
              [name]="chat.username"
              [totalMsg]="chat.newMsg"
              [message]="chat.message"
            ></app-chat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- User chat -->
    <div class="col-9 my-2">
      <div class="row gy-2">
        <!-- User Profile (Receiver) -->
        <div class="col-12">
          <app-chat-user></app-chat-user>
        </div>
        <!-- 820px -->
        <div class="col-12">
          <div class="border position-relative" style="height: 780px">
            <div class="row">
              <div class="col d-flex algin-items-center px-4 py-2 border">
                <div
                  class="d-flex justify-content-center align-items-center border"
                >
                  <div class="position-relative border story-circle">
                    <img
                      src="assets/img/download2.jpg"
                      alt="..."
                      class="img-fluid rounded-circle"
                    />
                  </div>
                </div>
                <div
                  class="d-flex justify-content-center align-items-center border"
                >
                  <div class="inline-display">
                    <p class="mb-0">Hii</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form class="d-flex algin-content-center">
                  <app-text-area class="w-100"></app-text-area>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
