<div class="cotainer" style="margin-left: calc(70px + 1.5rem)">
  <div class="row pt-4 px-4 mx-4"></div>
  <div class="row p-4 mx-4">
    <!-- Left side -->
    <div class="col-3 my-2">
      <div class="row gy-2">
        <!-- search -->
        <div class="col-12">
          <div class="d-flex border" style="width: 409px">Search bar</div>
        </div>
        <!-- chat list -->
        <div class="col-12">
          <div class="border bg-white" style="height: 780px; overflow-y: auto">
            <app-chat-card
              *ngFor="let chat of chatUser"
              [img]="chat.pic"
              [time]="chat.lastTime.getMinutes()"
              [name]="chat.username"
              [totalMsg]="chat.newMsg"
              [message]="chat.message"
            ></app-chat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- User chat -->
    <div class="col-9 my-2">
      <div class="row gy-2">
        <!-- User Profile (Receiver) -->
        <div class="col-12">
          <app-chat-user></app-chat-user>
        </div>
        <!-- 820px -->
        <div class="col-12">
          <div class="border position-relative" style="height: 780px">
            <div class="row">
              <!-- receive -->
              <app-message></app-message>
              <!-- <div class="col-12 d-flex algin-items-center px-4 py-2">
                <div class="d-flex justify-content-center text-center">
                  <div class="position-relative border story-circle">
                    <img
                      src="assets/img/download2.jpg"
                      alt="..."
                      class="img-fluid rounded-circle"
                    />
                    <span class="fw-bold">9:00</span>
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-start mx-3">
                  <div class="d-flex justify-content-start mb-3">
                    <span
                      class="inline-display p-2 rounded-custom-left bg-primary text-white"
                      >Hii</span
                    >
                  </div>
                  <div class="d-flex justify-content-start mb-3">
                    <span
                      class="inline-display p-2 rounded-custom-left bg-primary text-white"
                      >How are you?</span
                    >
                  </div>
                </div>
              </div> -->
              <!-- send -->
              <div
                class="col-12 d-flex justify-content-end algin-items-center px-4 py-2"
              >
                <div class="d-flex flex-column justify-content-center">
                  <div class="d-flex justify-content-end mb-3">
                    <span
                      class="inline-display p-2 rounded-custom-right bg-success text-white"
                      >Fine</span
                    >
                  </div>
                  <div class="d-flex justify-content-end mb-3">
                    <span
                      class="inline-display p-2 rounded-custom-right bg-success text-white"
                      >How are you?</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5 w-100 position-absolute bottom-0 m-0">
              <div class="col-12 p-0">
                <form class="d-flex algin-content-center">
                  <app-text-area class="w-100"></app-text-area>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
